#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(4, minmax(1fr, 175px)) minmax(0px, 1fr);
    grid-template-rows: 10rem auto;
}

header {
    grid-column: 2/6;
    grid-row: 1;
    font-family: Cambria;
    background-color: rgba(255, 255, 0, 0.509);
}

header h1 {
    color: darkgreen;
    font-weight: italic;
}

nav {
    font-weight: bold;
    font-size: 1.15em;
    grid-column: 2/6;
    grid-row: 2;
    background-color:rgb(100, 100, 100);
    text-align: right;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-flow: row;
    flex-wrap: nowrap;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem 0rem;
    color: darkblue;
    transition: 0.75s;
    font-family: Cambria;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    background-color: grey;
}

footer {
    font-family: Cambria;
    font-size: 15px;
    text-align: center;
    grid-row: 4;
    grid-column: 2/6;
    color:rgb(61, 60, 60);
    background-color: rgba(0, 255, 255, 0.336);
}

main {
    grid-row: 3;
    grid-column: 2/3;
    background-color: rgba(255, 0, 0, 0.336);
    font-family: Cambria;
}

.name {
    color: darkgreen;
    font-weight: bold;
}

#river {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/river.jpg");
    grid-row: 3/4;
    grid-column: 3/6;
    min-width: 416px;
}

#me {
    background-image: url("images/me.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 155px;
    width: 155px;
}

#me2 {
    background-image: url("images/me2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 155px;
    width: 155px;
}

#me3{
    background-image: url("images/me3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 155px;
    width: 155px;
}

.slider{
    width: 150px;
    height: auto;
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 5px;
    grid-column: 4/5;
    grid-row: 1;
}


.slides {
    display: flex;
    width:300%;
    animation: slide 9s infinite;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

@keyframes slide{
    0% {transform:translateX(0%);}
    30% {transform:translateX(0%);}
    35% {transform:translateX(-100%);}
    65% {transform:translateX(-100%);}
    70% {transform:translateX(-200%);}
    100% {transform:translateX(-200%);}
}

#rightmargin {
    grid-row: auto;
    grid-column: 6;
}

@media only screen and (max-width: 992px) {
    #wrapper {
        grid-template-columns: minmax(0, 1fr) 768px minmax(0, 1fr);
    }

    #stock {
        display: none;
    }

    nav {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
    }

    main {
        grid-row: 3;
    }

    footer {
        grid-row: 4;
        grid-column: 2;
    }

    .slider {
        display: none;
    }

    #river {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    #wrapper {
        grid-template-columns: minmax(100%);
    }

    nav {
        text-align: left;
    }
}