#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(8, minmax(1fr, 175px)) minmax(0px, 1fr);
    grid-template-rows: 10rem auto;
}



header {
    background-color: rgba(255, 255, 0, 0.336);
    grid-column: 2/3;
}

nav {
    line-height: 300%;
    font-size: 1.15em;
    grid-column: 3/9;
    background-color: rgba(255, 0, 255, 0.336);
    text-align: right;
}

footer {
    grid-row: 3;
    grid-column: 2/9;
    background-color: rgba(0, 255, 255, 0.336);
}

main {
    grid-row: 2;
    grid-column: 2/3;
    background-color: rgba(255, 0, 0, 0.336)
}


#homehero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/homehero.jpg");
    border: 2px solid white;
    grid-row: 2/3;
    grid-column: 3/9;
}

#rightmargin {
    grid-row: auto;
    grid-column: 9;
}

@media only screen and (max-width: 992px) {
    #wrapper {
        grid-template-columns: minmax(0, 1fr) 768px minmax(0, 1fr);
    }
    #homehero{
        display:none;
    }

    nav{grid-column:2;
    grid-row: 2;
    text-align: center;

    }

    main{
        grid-row:3;
    }

    footer{
        grid-row:4;
        grid-column: 2;
    }

}

@media only screen and (max-width: 768px) {
    #wapper{
        grid-template-columns: minmax(100%);
    }
    nav{
        text-align: left;
    }
}